//Fonts
@font-face {
  font-family: rammetto;
  src: url('assets/fonts/Rammetto_One/RammettoOne-Regular.ttf');
}
@font-face {
  font-family: work-sans;
  font-style: normal;
  src: url('assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf');
}
@font-face {
  font-family: work-sans;
  font-style: italic;
  src: url('assets/fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf');
}

//Reset
*, *:before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

//Global
body{
  background: rgb(33,163,147);
  background: linear-gradient(180deg, rgba(33,163,147,1) 0%, rgba(10,7,63,1) 50%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items : center;
  font-family: work-sans, sans-serif;
}
